body{
	background-image: url("../images/background.gif");
}
div{
	background-color: linen;
	margin: 10px;
	width: 28%
}
div{
	border: solid 2px rgb(168, 172, 185);
	padding: 10px;
}
h1, h3, span{
	font-weight: bold;
	text-align: center;
}
h1{
	font-size: 30pt;
}
ol{
	list-style: decimal inside; 
}
ul {
	list-style: disc inside;
	text-indent: 20px;
}

.header {
	text-align: center;
	margin-left: 25%;
	width: 50%
}
.instructions{
	width: 38%;
	margin-left: 31%;
}

.target, .winsAndLosses{
	float: left;
	width: 15%;
	height: 60px;
	margin-left: 23%;
	text-align: center;
}
.userTotal{
	width: 15%;
	height: 60px;
	margin-left: 40%;
	text-align: center;
}
.gems{
	clear: both;
	margin-left: 33%;
}
.gemImage{
	height: 60px;
	margin: 10px;
}